.weatherCard {
  /* background-color: rgba(0, 163, 255, 1); */

  height: 80px;
  border-radius: 12px;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.weatherCard__content {
  font-weight: 700;
  font-family: "Cabinet Grotesk";
  font-size: 36px;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  padding-left: 16px;
  z-index: 1;
}

.weatherCard__image {
  position: absolute;
  width: 100%;
}
